<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note Card</title>
    <style> 
        .column {
        width: 25%;
        padding: 0 10px;
        margin: auto;
        }
        .row{
            padding: 0 30px;
        }
        .card {
        box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
        padding: 30px;
        text-align: center;
        background-color: rgb(182, 201, 202);
        margin-bottom: 20px; /* add space between card */
        margin-top: 30px;
        }
    </style>
  </head>
  <body style="background-color:rgb(211, 240, 240);">
    <header>
      {% include 'navbar.html' %}
    </header>
    <div class="row">
    {% if notes %}
        {% for surat in notes %}
        <div class="column">
            <div class="card">
                <h3>{{surat.title}}</h3>
                <p>To: {{surat.to}}</p>
                <p>From: {{surat.sender}}</p>
                <p>{{surat.message}}</p>
            </div>
        </div>
        {% endfor %}
    {% endif %}
    </div>
  </body>
</html>
