<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notes</title>
    <style>
      table,
      th,
      td {
        padding: 10px;
        border: 2px solid black;
        border-collapse: collapse;
      }
      table.center {
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
      }
      th {
        background-color: rgb(166, 196, 231);
      }
    </style>
  </head>
  <body style="background-color:rgb(211, 240, 240);">
    <header>
      {% include 'navbar.html' %}
    </header>
    <table class="center">
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      <!-- TODO loop from Note model -->
      {% if notes %}
        {% for surat in notes %}
      <tr>
        <td>{{surat.to}}</td>
        <td>{{surat.sender}}</td>
        <td>{{surat.title}}</td>
        <td>{{surat.message}}</td>
      </tr>
        {% endfor %}
      {% endif %}
    </table>
  </body>
</html>
