<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Add Note</title>
    <style>
        h1{
          padding: 10px 10px;
        }
        input[type=text] {
          width: 20%;
          padding: 10px 20px;
          margin: 8px 0;
          box-sizing: border-box;
          border: 2px solid rgb(35, 47, 70);
          border-radius: 4px;
        }
        input[type=submit]{
            background-color: rgb(35, 47, 70);
            border: none;
            color: white;
            padding: 10px 16px;
            text-decoration: none;
            margin: 2px 1px;
            cursor: pointer;
        }
        .center {
          padding: 0px 20px;
        }
      </style>
  </head>
  <body style="background-color:rgb(211, 240, 240);">
    <header>
      {% include 'navbar.html' %}
    </header>
    <div class="center">
      <form action="" method="POST">
        {% csrf_token %}
        <h1>Add Note</h1>
        <label for="to"><span>To <span class="required">*</span></span></label><br>
        <input type="text" name="to" required><br>
        <label for="sender"><span>From <span class="required">*</span></span></label><br>
        <input type="text" name="sender" required><br>
        <label for="title"><span>Title <span class="required">*</span></span><br>
        <input type="text" name="title" required><br>
        <label for="message"><span>Message <span class="required">*</span></span><br>
        <input type="text" name="message" required><br>
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>