<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
    <style>
      table,
      th,
      td {
        padding: 10px;
        border: 2px solid black;
        border-collapse: collapse;
      }
      table.center {
        margin-left: auto;
        margin-right: auto;
      }
      th {
        background-color: rgb(166, 196, 231);
      }
    </style>
  </head>
  <body style="background-color:lavender;">
    <table class="center">
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      {% if friends %}
        {% for chingu in friends %}
      <tr>
        <td>{{chingu.name}}</td>
        <td>{{chingu.npm}}</td>
        <td>{{chingu.dob}}</td>
      </tr>
        {% endfor %}
      {% endif %}
    </table>
  </body>
</html>
