<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Add Friend</title>
    <style> 
        legend {
            font-size: 30px;
        }
        input[type=text] {
          width: 20%;
          padding: 10px 20px;
          margin: 8px 0;
          box-sizing: border-box;
          border: 2px solid rgb(127, 167, 241);
          border-radius: 4px;
        }
        input[type=submit]{
            background-color: rgb(127, 167, 241);
            border: none;
            color: black;
            padding: 8px 16px;
            text-decoration: none;
            margin: 2px 1px;
            cursor: pointer;
        }
        </style>
  </head>
  <body style="background-color:lavender;">
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset><legend><b>Add Friend</b></legend>
        <label for="name"><span>Name <span class="required">*</span></span></label><br>
        <input type="text" name="name" required><br>
        <label for="npm"><span>NPM <span class="required">*</span></span></label><br>
        <input type="text" name="npm" required><br>
        <label for="dob"><span>DOB (YYYY-MM-DD) <span class="required">*</span></span><br>
        <input type="text" name="dob" required><br>
        <input type="submit" value="Submit">
    </form>
  </body>
</html>
