<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notes</title>
    <style>
      table,
      th,
      td {
        padding: 10px;
        border: 2px solid black;
        border-collapse: collapse;
      }
      table.center {
        margin-left: auto;
        margin-right: auto;
      }
    </style>
  </head>
  <body style="background-color:powderblue;">
    <table class="center">
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      <!-- TODO loop from Note model -->
      {% if notes %}
        {% for surat in notes %}
      <tr>
        <td>{{surat.to}}</td>
        <td>{{surat.sender}}</td>
        <td>{{surat.title}}</td>
        <td>{{surat.message}}</td>
      </tr>
        {% endfor %}
      {% endif %}
    </table>
  </body>
</html>
